.custom-div{
    .custom-value{
        font-size: 35px;
        font-weight: bold;
    }
    .custom-percentage{
        font-size: 25px;
        color: green;
    }
    .custom-label{
        font-size: 13px;
        color: #bbb3b3;
    }
    .custom-arrow{
        font-size: 30px;
    }
}